@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    font-family: Raleway, sans-serif;
    --bordure: 2px #0065FC solid;
    --bleu:#0065FC;
    --bleu_clair:#DEEBFF;
    --gris:#f2f2f2;
}
.main_wrapper{
    width: 1024px;
    margin: auto;
}
body{
    margin: 0px;
    background-color: white;
}
a{
    text-decoration: none;
    color: black;
}
img{
    object-fit: cover;
}
main{
    margin-bottom: 30px;
}
nav.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav--list{
    display: flex;
    list-style-type: none;
    margin-right: 20px;
    font-size: x-large;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 1px;

    
}

.nav--list li{
    margin-left: 10px;
    padding: 30px;
    

    
}
.nav--list li:hover{
    border-top: var(--bordure);
}




.nav--items{
    margin: 0px 15px 0px 15px;
   
}
.conteneur--txt{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.conteneur--txt h1{
    margin-bottom: 0px;
    letter-spacing: 1px;
}
.conteneur--txt p{
    margin-top: 10px;
 
    letter-spacing: 1px;
}
form.form{
    display: flex;
    align-items: center;
    height: 50px;
    margin-bottom: 20px;
    width: 40%;
 
}
form span{
    display: block;
    width: 40px;
    height: 50px;
    background-color:var(--gris);
    border-radius: 15px 0px 0px 15px;
    position: relative;

}
i.fas.fa-map-marker-alt.icon_map{
    position: absolute;
    bottom: 20px;
    left: 13px;
}
.fas.fa-star.gris{
    color: var(--gris);
   
}
.txt{
    font-weight: 200;
}
input.btn--search,input.btn--submit{
    height: inherit;
    border: 1px var(--bleu_clair) solid;
    flex:3;
  
}
input.btn--search{
    font-size: large;
    font-weight: 700;
    padding-left: 10px;
    color: rgba(0, 0, 0, 0.5);
}
input.btn--submit{
    color: white;
    background-color: var(--bleu);
    border-radius: 0px 15px 15px 0px;
    font-weight: 600;
    font-size: medium;
    letter-spacing: 1px;
    flex:1;
}
.icon-mob{
    display: none;
    color: white;
    background-color: var(--bleu);
}
input.btn--submit:hover{
    background-color: var(--bleu_clair);
    color: var(--bleu);
    font-weight: 700;
}
.btn--filtre{
    margin-top: 20px;
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
  
}
.btn--filtre p{
   font-weight: bold;
}
.icon{
    position: absolute;
    left: 10px;
    bottom: 11.5px;
    margin-right: 10px;
   
        color: var(--bleu);
       
        background:var(--gris);
}
.btn span{
    display: inline-block;
    width: 40px;
    height: inherit;
    border-radius: 25px;
    background: var(--bleu_clair);
 
}
.btn strong{
    padding: 10px;
}
.btn{
   display: flex;
    border: 1px #DEEBFF solid;
    background-color: white;
    border-radius: 25px;
    
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 0;
}
.btn:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:white;
    transition: all 0.3s;
    z-index: -2;
}
.btn:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: var(--bleu_clair);
    transition: all 0.3s;
    z-index: -1;
}
.btn:hover {
    color: var(--bleu);
    border: var(--bordure);
 
  }
.btn:hover:before {
    width: 100%;
  }
section.logements{
    display: flex;
    width: 100%;
}
article.list--hotel{
    background-color: var(--gris);
    width: 70%;
    border-radius: 30px;
    margin-right: 10px;
}
article.pop{
    background-color: var(--gris);
    width: 30%;
    border-radius: 30px;
    margin-left: 10px;
}
.hotel--items{
    width: 30%;
    position: relative;
    margin-bottom: 20px;
    border: 4px white solid;
    border-radius: 20px;
    box-sizing: content-box;
}
.hotel--items:hover{
   
    box-shadow: rgba(29, 30, 31, 0.48) 6px 2px 16px 0px, rgba(196, 186, 206, 0.8) -6px -2px 16px 0px;
}
.hotel--pop:hover,.activites--items.small:hover,.activites--items.long:hover{
    box-shadow: rgba(0, 0, 0, 0.8) 0px 8px 8px, rgba(0, 0, 0, 1) 0px 8px 8px -3px, rgba(0, 0, 0, 0.5) 8px -8px 0px inset;
}

.hotel--list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
img.image--hotel{
    width: 100%;
    height: 210px;
    border-radius: 15px;
    
}
.des.description{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    border-radius: 0px 0px 15px 15px;
    
}
.txt-description{
    font-weight: 200;
}
.des.description--pop h3{
    margin-top: 15%;
}

.des h3,.des p{
    margin:0px 0px 2px 10px;
    font-size: medium;
}
.txt--themes{
    margin-left: 30px;
    font-size: larger;
    font-weight: 700;
}
.activites h2.txt--themes{
    margin-left: 0px;
}
.titre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-chart-line{
    margin-right: 20px;
}
p.star{
    color: var(--bleu);
}
i.fas.fa-info-circle{
    margin-right: 10px;
    color: var(--bleu);
    opacity: .5;
}
.list--pop{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.hotel--pop{
    position: relative;
    width: 90%;
    border-radius: 15px;
    border: 4px white solid;
    box-sizing: content-box;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}
img.image--hotel--pop{
    display: block;
    width: 55%;
    height: 150px;
    border-radius: 12px 0px 0px 12px;

}
.des.description--pop{
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 60%;
    background-color: white;

}
p.star.star--pop{
    position: absolute;
    bottom: 2px;
}
.activites-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.activites--items.long,.double{
    width: 24%;
    height: 420px;
    
    
}
.activites--items  img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 5px 5px 2px rgba(182, 174, 174,0.5);
}
img.image--activites,.activites--items.small{
    height: 200px;
    width: 100%;
}
img.image--activites.long,.activites--items.long {
    height: 420px;
    
}
.activites--items.small.smaller,.activites--items.small.smaller img{
    height: 150px;
}
.activites--items.small.large,.activites--items.small.large img{
    height: 250px;
}
.double{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.activites--items{
    position: relative;
    border-radius: 20px;

}
.description--activites{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: white;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
}
.des.hotel--titre{
    margin:10px 0px 10px 20px;
    font-weight:600;
    font-size: large;

}
.footer--conteneur{
    display: flex;
    background-color: var(--gris);
}
.footer--conteneur ul{
    list-style-type: none;
    margin-right: 40px;
}
.footer--items:first-child{
    font-weight: 700;
}
.footer--items {
    margin-top: 10px ;
    font-weight: 200;
}
@media all and (min-width:768px) and (max-width:991px){
    .des.description,.des.description--pop{
        font-size: small;
    }
    .main_wrapper{
        width: auto;
        margin: auto;
    }
    ul.nav--list{
        font-size: larger;
    }
    .btn--filtre{
        width: 100%;
        font-size: medium;
        justify-content: space-around;
    }
    form.form,.conteneur--txt{
        width: 95%;
        margin: auto
    }

    
    input.btn--search{
        flex: 5;
    }
    .hotel--items{
        width: 45%;
    }
    .hotel--pop{
        display: flex;
        flex-direction: column;
        height: 225px;
    }
    img.image--hotel--pop{
        width: 100%;
        border-radius: 12px 12px 0px 0px;
    }
    .des.description--pop{
        height: auto;
        width: 100%;
        left: 0;
        right: 0;
    }
    .hotel--pop{
        margin-bottom: 25px;
    }
    p.txt--themes{
        margin-top: 0px;
    }
    .txt--themes,.des.hotel--titre{
        font-size: medium;
    }
    .des.description--pop h3{
        margin-top: 5px;
    }
    p.star.star--pop{
        position:initial;
    }
    i.fas.fa-chart-line{
        display: none;
    }
    .activites--items.small.smaller,.activites--items.small.smaller img{
        height: 170px;
    }
    .activites--items.small.large,.activites--items.small.large img{
        height: 170px;
    }
    img.image--activites.long, .activites--items.long,.double{
        height: 350px;
    }
    img.image--activites, .activites--items.small{
        height: 170px;
    }
}
@media all and (max-width:767px){
    .main_wrapper{
        width: auto;
        margin: auto;
    }
    nav.nav{
        flex-direction: column;
        
    }
    .nav--list{
        border-bottom: 2px rgba(189, 183, 183, .4) solid;
    }
    .nav--list,a.nav--items {
        width: 100%;
        text-align: center;
        justify-content: center;
     
      
     
    }
    .nav--list li{
    
        margin: 0;
        padding-bottom: 30px;
        width: 100%;
      
      
    }
    .nav--list li:hover{
        border-top: none;
       

        border-bottom:var(--bordure);

    }
    .conteneur--txt{
        width: 95%;
        margin-right: auto;
        margin-left: auto;
        font-size: medium;
        text-align: center;
    }
    .activites--items.small.smaller,.activites--items.small.smaller img{
        height: 200px;
    }
    .activites--items.small.large,.activites--items.small.large img{
        height: 200px;
    }

    form.form{
        width: 100%;
        justify-content: center;
    }
    .btn--submit{
        display: none;
    }
    .icon-mob{
        display: inline-block;
        width: 60px;
        height: inherit;
        border-radius: 0px 15px 15px 0px;
        position: relative;
    }
    .icon-mob:hover{
        background-color: #DEEBFF;
        color: var(--bleu);
        border: var(--bordure);
    }
    .fas.fa-search{
        position: absolute;
        left: 15px;
        bottom: 10px;
        font-size: x-large;
    }
   
   
   
    .btn--filtre{
        width: 85%;
        flex-wrap: wrap;
        justify-content: flex-start;
        
    }
    a.btn{
        margin-bottom: 10px;
        margin-left: 20px;
    }
    p.txt{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
    }
    section.logements{
        flex-direction: column-reverse;
        width: 100%;
    }
    article.pop,article.list--hotel{
        width: 100%;
    }
    .hotel--items{
        width: 90%;
    }
    .hotel--list{
        flex-direction: column;
        align-items: center;
    }
    article.pop,article.list--hotel{
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 15px;
    }
    .btn--filtre p{
        margin-left: 15px;
        
    }
    .activites-list{
        flex-direction: column;
       align-items: center;
    }
    .activites--items.long,.activites--items.small{
        height: 200px;
        width: 90%;
        margin-bottom: 20px;
    }
    img.image--activites.long,img.image--activites,.double{
        width: 100%;
        height: 100%;
    }
    .footer--conteneur{
        flex-direction: column;
    } 
}
@media all and (max-width:345px){
    .main_wrapper{
        width: auto;
        margin: auto;
    }
    nav img{
        width: 100px;
    }

  
    form.form,form span{
        height: 40px;
    }
    i.fas.fa-map-marker-alt.icon_map{
        left: 15px;
        bottom: 15px;
    }
    .btn--filtre{
        width: 100%;
    }
    .btn--filtre i{
        padding: 12px;
    }
    input.btn--search{
        font-size: small;
    
    }
    input.btn--search{
        width: 120px;
   
    }
    input.btn--submit{
        width: 75px;
        font-size: x-small;
    }
    .btn--filtre{
        width: 100%;
        font-size: x-small;
    }
    .btn--filtre i{
        padding: 6px;
    
    }
    p.txt,.conteneur--txt{
        font-size: x-small;
        text-align: center;
    }
    h2.txt--themes,p.txt--themes{
        font-size: medium;
    }
    .des.description--pop,.des.description,h3.des.hotel--titre{
        font-size: small;
    }
    
   

}
